[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
lxml = "*"
matplotlib = "*"
spacy = "*"
jupyter = "*"
plac = "*"
pathlib = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.6"
